 body {
     margin: 0;
     padding: 0;
     background-color: beige;
 }




 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: #333333;
     display: flex;
 }

 ul li a {

     display: block;
     margin-right: 35px;

     color: white;
     padding: 14px 16px;
     text-decoration: none;

 }

 ul li a:hover {
     background-color: #0fb9c5;
 }

 form {
     background-color: #0faabe;
     font-size: 20px;
     font-weight: bold;
     width: 30%;


     display: flex;
     flex-direction: column;
     justify-content: center;



     gap: 50px;


     border: 2px solid rgb(2, 2, 2);
     border-radius: 15px;
     box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
     padding: 20px;



 }

 .contenedor {

     display: flex;
     justify-content: center;
     margin-top: 150px;
 }

 .items {

     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 5px;
     padding: 5px;


 }

 input {

     width: 50%;
     border: none;
     outline: none;
     background-color: transparent;
     border-bottom: 2px solid black;




 }

 input:focus {
     border-bottom: 2px solid beige;
 }

 .buttons {

     display: flex;
     justify-content: center;
     gap: 20px;


 }

 .boton:hover {

     background-color: #0faabe;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;


 }

 .boton {

     background-color: white;
     font-size: 20px;


 }