 body {
     margin: 0;
     padding: 0;
     background-color: beige;
 }




 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: #333333;
     display: flex;
 }

 ul li a {

     display: block;
     margin-right: 35px;

     color: white;
     padding: 14px 16px;
     text-decoration: none;

 }

 ul li a:hover {
     background-color: #0fb9c5;
 }

 form {
     background-color: #0faabe;
     font-size: 20px;
     font-weight: bold;
     width: 30%;


     display: flex;
     flex-direction: column;
     justify-content: center;



     gap: 50px;


     border: 2px solid rgb(2, 2, 2);
     border-radius: 15px;
     box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
     padding: 20px;



 }

 .contenedor {

     display: flex;
     justify-content: center;
     margin-top: 150px;
 }

 .items {

     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 5px;
     padding: 5px;


 }

 input {

     width: 50%;
     border: none;
     outline: none;
     background-color: transparent;
     border-bottom: 2px solid black;




 }

 input:focus {
     border-bottom: 2px solid beige;
 }

 .buttons {

     display: flex;
     justify-content: center;
     gap: 20px;


 }

 .boton:hover {

     background-color: #0faabe;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;


 }

 .boton {

     background-color: white;
     font-size: 20px;


 }

 .contenedorImagenes {

     display: flex;
     justify-content: center;
     align-items: center;




 }

 .botones {

     justify-content: space-between;


 }

 #resultados {

     background-color: green;
     width: fit-content;
     margin-left: 5px;


 }

 .error {
     color: red;
     font-weight: bold;
     margin-left: 5px;
 }

 .contenedorProductos {

     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
     padding: 20px;



 }

 /*la imagenes principal que esta en el contenedor */

 .contenedorImagenes img#imagenes {
     width: 300px;
     height: auto;
     object-fit: contain;
     transition: transform 0.3s ease, opacity 0.3s ease;
     /*hace la transicion de agrandarse suavemente y desvanecerse suavemnte*/
 }



 /*al pasar por encima de la imagenen la agranda 5%  */
 .contenedorImagenes img#imagenes:hover {
     transform: scale(1.05);
 }

 /*  Botones de flechas */
 .flecha {
     background: none;
     border: none;
     cursor: pointer;
     transition: transform 0.2s ease;
 }

 /*al pasar por la flecha hace un efecto del 10%*/

 .flecha:hover {
     transform: scale(1.1);
 }

 /*  Imágenes dentro de los botones */
 .flecha img {
     width: 50px;
     height: 50px;
     filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
     /*Agrega un sombra suave detras de la flecha*/
 }

 #infoProducto {
     text-align: center;
     margin-top: 20px;


 }

 #infoProducto h3 {
     margin: 10px 0 5px;
     color: black;
     font-size: 22px;
 }

 #infoProducto p {
     font-size: 16px;
     color: #333;
     margin: 5px 0;
 }

 #infoProducto .precio {
     color: green;
     font-weight: bold;
     font-size: 18px;
 }

 .producto {

     background-color: #0faabe;
     width: 380px;
     border: 2px solid #333;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;

 }

 .producto:hover {
     transform: scale(1.05);
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
 }

 .producto img {
     width: 180px;
     height: 180px;
     object-fit: contain;
 }


 .producto h3 {
     margin: 10px 0 5px;
     color: black;
 }

 .producto p {
     color: #333;
     font-size: 16px;
     margin-bottom: 10px;
 }

 .producto .precio {
     color: green;
     font-weight: bold;
     font-size: 18px;
 }

 .footer {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 20px;
     margin-top: auto;

 }

 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 body {
     display: flex;
     flex-direction: column;
 }

 .categoria-izq {
     display: flex;
     gap: 15px;
 }

 .categoria-btn {
     background-color: white;
     border: none;
     padding: 8px 18px;
     font-size: 15px;
     font-weight: bold;
     border-radius: 20px;
     cursor: pointer;
     color: #333;
     transition: 0.3s;
 }

 .categoria-btn:hover {
     background-color: #0fb9c5;
     /* celeste */
     color: white;
 }

 .btn-carrito {
     margin: 10px;
     padding: 10px 18px;
     background-color: white;
     color: #0fb9c5;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
     font-weight: bold;
     border: 2px solid #0a3b77;
     transition: 0.3s;
     margin-left: auto;
     margin-right: 50px;
 }

 .btn-carrito:hover {
     background-color: #0a3b77;
     color: white;
 }


 .barra-categorias {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 15px;
     background-color: #0a3b77;
     padding: 15px 30px;
     justify-content: flex-start;
     position: relative;
 }

 .carrito-modal {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.6);
     /* oscurece el fondo */
     justify-content: center;
     align-items: center;
     z-index: 999;
 }

 #btnCarrito .carrito-contenido {
     background: white;
     padding: 20px;
     width: 350px;
     border-radius: 15px;
     text-align: center;
 }

 .carrito-contenido ul {
     list-style: none;
     padding: 0;
 }

 #btnCarrito {
     margin-left: auto;
 }

 .carrito-contenido {
     background: #ffffff;
     padding: 20px 25px;
     width: 350px;
     max-height: 80vh;
     overflow-y: auto;
     border-radius: 10px;
     box-shadow: 0px 0px 20px rgba(151, 3, 3, 0.4);
     animation: aparecer 0.25s ease-out;
 }

 .cerrar {
     background-color: red;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 8px;
     cursor: pointer;
 }

 #listaCarrito {
     background: transparent;
     padding: 0;
     margin: 0;
     display: block;
     flex-direction: column;
 }

 #listaCarrito li {
     background-color: #0fb9c5;
     display: block;
     color: white;
     justify-content: space-between;
     padding: 10px;
     border-bottom: 1px solid #e0e0e0;
     font-size: 16px;
     align-items: center;
     font-weight: bold;
     margin-bottom: 8px;
     border-radius: 6px;
 }

 #listaCarrito button {
     background: red;
     color: white;
     border: none;
     padding: 3px 7px;
     border-radius: 4px;
     cursor: pointer;
 }

 /* Total */
 #totalCarrito {
     margin-top: 15px;
     font-size: 20px;
     font-weight: bold;
     text-align: right;
     color: #333;
 }

 /* Botón cerrar */
 .cerrar {
     width: 100%;
     margin-top: 15px;
     padding: 10px;
     background: #333;
     color: white;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 16px;
 }

 .cerrar:hover {
     background: #555;
 }

 .toast {
     position: fixed;
     bottom: 30px;
     right: 30px;
     background-color: blue;
     color: white;
     padding: 12px 18px;
     border-radius: 8px;
     font-weight: bold;
     opacity: 0;
     transform: translateY(20px);
     transition: opacity .4s ease, transform .4s ease;
     z-index: 9999;
 }

 .toast.show {
     opacity: 1;
     transform: translateY(0);
 }